@charset "UTF-8";
#todo-list {
  position: relative;
  z-index: 2; }
  #todo-list li {
    position: relative; }
    #todo-list li .textBox {
      white-space: pre-line;
      word-break: break-all;
      padding: 15px 60px 15px 15px;
      margin-left: 45px;
      line-height: 1.2;
      transition: color 0.4s; }
      #todo-list li .textBox:after {
        content: " "; }
  #todo-list li.done .textBox {
    text-decoration: line-through;
    color: #d9d9d9; }

.checkbox {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; }

.stringField {
  margin-left: 45px;
  width: calc(100% - 45px);
  padding: 15px 60px 15px 15px;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.2;
  border: 0;
  outline: none;
  color: inherit;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.newItem .stringField {
  box-shadow: none; }
